* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 20%;
}

.container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    border: 1px solid black;   
}

.mouseover {
    background-color: pink;
}

.newGrid {
    background-color: pink;
    padding: 5px 10px;
}

h1 {
    text-decoration-line: underline;
    text-decoration-color: pink;
}