* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

.mouseover {
    background-color: black;
}